html {
  font-family: Arial;
}

.header {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav span {
  margin-left: 16px;
  font-size: 1.25rem;
}

.mob {
  display: none;
}

nav span:last-child {
  margin-right: 24px;
}

.header img {
  margin-left: 24px;
}

.logo {
  display: flex;
  align-items: center;
}
.first {
  font-size: 1.5rem;
  align-self: center;
  color: darkgrey;
}

.second {
  font-size: 1.5rem;
  align-self: center;
  color: grey;
}

.banner {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner img {
  margin: 24px 32px;
  width: 60%;
  display: inline-block;
}

.side {
  width: 40%;
  display: inline-block;
}

h1 {
  font-size: 3rem;
  color: darkcyan;
}

h3 {
  margin-bottom: 41px;
  font-size: 1.5rem;
  color: darkslategrey;
}

.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: darkslategrey;
  color: white;
  text-align: center;
}

.main {
  display: flex;
  flex-direction:row;
  width: 100%;
}

.right {
  width: 40%;
}

.left {
  width: 60%;
}

.left img {
  margin: 24px 32px;
}

.left h2 {
  margin-bottom: 24px;
}

.right, .left {
  display: flex;
  flex-direction:column;
}

.info {
  border: 1px solid lightgrey;
  display: flex;
}

.cred {
  margin-bottom: 32px;
  font-size: .75rem;
  text-align: left;
}

.guest {
  background-color: lightgrey;
}

.info img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.in {
  display: flex;
  flex-direction: column;
  width: 65%;
}

a {
  margin: auto 8px;
  color: blue;
}

.pics {
  background-color: lightgrey;
}

.pics h3 {
  font-size: 3rem;
  text-align: center;
  padding-top: 32px;
}

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 72px;
}

.pic {
  padding-bottom: 24px;
  width: 25%;
  height: auto;
  margin: 32px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.course {
  margin: 8px 0;
}

.pic span, h5 {
  margin-left: 16px;
}

h5 {
  margin-top: 16px;
  font-size: 1rem;
}

.art {
  padding-bottom: 10px;
}

.t {
  margin: 32px 0;
  text-align: center;
  font-size: 3rem;
}

.thesis {
  width: 100%;
  display: flex;
}

.vid {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 24px;
  padding: 12px;
}

video {
  width: 100%;
}

.vid h4 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.vid p{
  margin-bottom: 32px;
}

.col {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 12px;
}

.box {
  display: flex;
}

.side img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.proto, .new {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one {
  background-color: lightgrey;
}

.box h5 {
  font-size: 1.5rem;
  margin-left: -3px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 16px 24px;
}

@media screen and (max-width: 560px) {
  .mob {
    display: inline-flex;
  }
  nav span, .first, .second {
    display: none;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
  }
  .banner {
    flex-direction: column;
  }
  .banner img {
    width: 100%;
  }
  .side {
    width: 100%;
  }
  .side h1 {
    margin: 32px 16px;
    color: darkslategrey;
  }
  .side h3 {
    margin: 24px 16px;
  }
  .btn {
    background-color: grey;
    margin-bottom: 32px;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
  .in {
    margin-left: 16px;
  }
  .in h5 {
    font-size: 2rem;
  }
  .in span {
    margin-left: 12px;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  .in a {
    margin-left: 11px;
    margin-bottom: 64px;
    font-size: 1.5rem;
  }
  .info {
    flex-direction: column;
    width: 100%;
  }
  .info img {
    width: 100%;
  }
  .left .mob {
    margin: 16px;
    width: 100%;
  }
  .desk {
    display: none;
  }
  .pics {
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .pic {
    background-color: lightgrey;
    width: 100%;
    margin: 16px 16px 24px 16px;
    padding: 8px;
  }
  .col {
    display: none;
  }
  .vid {
    width: 100%;
  }
  .footer {
    padding: 16px 0;
  }
}
